<!-- About Section -->
<section id="about">
    <div class="container">
      <h1>About Me</h1>

      <div class="one-column">
        <p>Designer | Software Engineer</p>

    </div>


    <div class="two-column">

        <p>Hello, my name is Jasmin Rubinovitz.<br/>
            I'm currently a Research Assistant and a Graduate Student in the Viral Communications group at MIT Media Lab. <br/>
            Perior to that I was a software engineer intern at Google, and a B.fa student at the ceramic design department of Bezalel Academy For Art and Design. <br />
            I hold a B.sc of Computer Science from the Hebrew University of Jerusalem.<br />
            I'm interested in computer human interactions and the relation between, arts, crafts and design with developed technology. <br /> 
            <a target="_blank" href="/JasminRubinovitzCv.pdf" >My CV</a>
        </p>
    </div>
</div>