 <!-- Portfolio Modals -->
 {% for post in site.posts %}
 <div class="portfolio-modal modal fade" id="{{ post.link-name }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-8 col-lg-offset-2"> -->
                <div class="modal-body">
                    <hr class="star-primary">
                    {% if post.video %}
                    <div class="videoWrapper">
                        <!-- Copy & Pasted from YouTube -->
                        {{post.video-link}}
                    </div>
                    {% endif %}
                    <h2>{{ post.title }}</h2>
                    <div class="one-column">
                        <h5 style="margin-left:1em">{{ post.subtitle }}</h5>
                    </div>
                    <div class="two-column">
                        <p>{{ post.description }}</p>
                        <p class="small text-muted">{{ post.details }}</p>
                    </div>

                    {% if post.video == false %}
                    <div id="images-slide-show-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#images-slide-show-{{ post.modal-id }}" data-slide-to="0" class="active"></li>
                            {% assign picIndex = 1 %}
                            {% for photo in post.img %}
                            <li data-target="#images-slide-show-{{ post.modal-id }}" data-slide-to="{{ picIndex }}"></li>
                            {% assign picIndex = picIndex | plus:1 %}
                            {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-centered" src="img/portfolio/{{ post.img-ac }}" alt="{{ post.alt }}">
                            </div>
                            {% for photo in post.img %}
                            <div class="item">
                                <img class="img-responsive img-centered" src="img/portfolio/{{ photo }}" alt="{{ post.alt }}">
                            </div>
                            {% endfor %}
                        </div>

                        <!-- Controls -->
                        {% if post.img %}
                        <a class="left carousel-control" href="#images-slide-show-{{ post.modal-id }}" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#images-slide-show-{{ post.modal-id }}" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        {% endif %}
                    </div>
                    {%endif%}
                </div>
            </div>
            <div style="text-align:center">
             <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
         </div>
     </div>
 </div>
</div>
</div>
{% endfor %}
