<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <header>
      <!-- Magnific Popup core CSS file -->
      <link rel="stylesheet" href="{{ site.baseurl }}/magnific-popup/magnific-popup.css">
      <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </header>


  <div id="wrapper">
      <div class="content">

          {% include header.html %}

          <div class="page-content">
              <div class="wrapper">
                  {{ content }}
              </div>
          </div>
      </div>
  </div>
  <div id="particles-js">

  </div>

    {% include footer.html %}

  <script src="{{ site.baseurl }}/js/particles.js"></script>

  <script>
      $(window).on("load", function() {
          const body = document.body;
          const html = document.documentElement;
          const height = Math.max(body.scrollHeight, body.offsetHeight,
              html.clientHeight, html.scrollHeight, html.offsetHeight);
          const ctx = document.getElementById("particles-js");
          console.log(ctx);
          console.log(height);
          ctx.setAttribute('height', height); //= height;
          particlesJS.load('particles-js', '{{ site.baseurl }}/js/particlesjs-config.json', function () {
              console.log('callback - particles.js config loaded');
//'height', height);
          });
      });

  </script>


  </body>

</html>